<div>
  <div class="panel panel-default" ng-if="vocabulary">
    <div class="panel-heading">
      <div class="clearfix">
        <a href ng-click="onNavigate(taxonomy, vocabulary)" ng-if="vocabulary.terms">
          <localized value="vocabulary.title" lang="lang" key-lang="locale" key-value="text"></localized>
        </a>
        <span ng-if="!vocabulary.terms">
          <localized value="vocabulary.title" lang="lang" key-lang="locale" key-value="text"></localized>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div>
        <localized value="vocabulary.description" lang="lang" key-lang="locale" key-value="text"></localized>
      </div>
    </div>
  </div>
</div>